<!-- blog/templates/blog/post_detail.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <a href="{% url 'blog:post_list' %}">Back to all posts</a>
    <h1>{{ post.title }}</h1>
    <p>by {{ post.author.name }} on {{ post.published_date }}</p>
    <div>
        {{ post.content }}
    </div>
    <p>Categories: 
        {% for category in post.categories.all %}
            {{ category.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Tags: 
        {% for tag in post.tags.all %}
            {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.author }}</strong> on {{ comment.created_date }}<br>
                {{ comment.text }}
            </li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>
</body>
</html>
